<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Hola Mundo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/materialize.min.css}" rel="stylesheet"
	href="../static/css/materialize.min.css" />
</head>

<body>

	<header>

		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Logo</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="sass.html">Sass</a></li>
					<li><a href="badges.html">Components</a></li>
					<li><a href="collapsible.html">JavaScript</a></li>
				</ul>
			</div>
		</nav>

	</header>

	<main>

	<div class="row">
		<div class="col s12 m6">
			<div class="card">
				<div class="card-image">
					<img
						th:src="@{https://cdn.vox-cdn.com/thumbor/A-CkgyktZ3Dpc5wxaB7R9NH6u8U=/0x0:1024x576/1200x800/filters:focal(431x207:593x369)/cdn.vox-cdn.com/uploads/chorus_image/image/61080835/WoW_BattleForAzeroth_Mag_harOrc.0.jpg}">
					<span class="card-title">Card Title</span> <a
						class="btn-floating halfway-fab waves-effect waves-light red"><i
						class="material-icons">add</i></a>
				</div>
				<div class="card-content">
					<p>I am a very simple card. I am good at containing small bits
						of information. I am convenient because I require little markup to
						use effectively.</p>
				</div>
			</div>
		</div>

		<div class="col s12 m6">
			<div class="card">
				<div class="card-image">
					<img th:src="@{https://i.redd.it/3a1igc12bis11.jpg}"> <span
						class="card-title">Card Title</span> <a
						class="btn-floating halfway-fab waves-effect waves-light red"><i
						class="material-icons">add</i></a>
				</div>
				<div class="card-content">
					<p>I am a very simple card. I am good at containing small bits
						of information. I am convenient because I require little markup to
						use effectively.</p>
				</div>
			</div>
		</div>
	</div>



	</main>

	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Footer Content</h5>
					<p class="grey-text text-lighten-4">You can use rows and
						columns here to organize your footer content.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2014 Copyright Text <a class="grey-text text-lighten-4 right"
					href="#!">More Links</a>
			</div>
		</div>
	</footer>

	<script th:src="@{/js/materialize.min.js}"
		src="../static/js/materialize.min.js"></script>
</body>

</html>